* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    background-image: url(./img/bg.jpg);
    text-align: center;
    text-shadow: 2px 1px 4px;
    padding-top: 50px;
    color: white;
}

.header p {
    color: rgb(225, 223, 223);
}

.profile > img {
    height: 150px;
    width: 150px;
}

.navBar {
    padding: 20px;
    text-align: right;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 0 5px;
    box-shadow: 0 5px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

.hidden-content {
    display: none;
}

.show-content .hidden-content {
    display: block;
}

#summary {
    padding: 50px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.profile-pic img {
    height: auto;
    width: 100%;
    border-radius: 19px;
    box-shadow: 0 0 20px 9px;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #666;
}

.read-more-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

.read-more-btn:hover {
    background-color: #0056b3;
}

.show-content .hidden-content {
    display: block;
}

.heading {
    padding: 20px;
    text-align: center;
    background-color: #f3eeea;
}

#work-exp {
    padding: 50px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-img {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.exp-img > img {
    height: auto;
    width: 120px;
}

.experience-item {
    margin-bottom: 30px;
    text-align: center;
}

.experience-item h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.experience-date {
    margin-bottom: 10px;
    font-style: italic;
    color: #666;
}

.experience-role {
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.experience-highlights {
    margin-left: 20px;
    color: #555;
}

.experience-highlights li {
    margin-bottom: 5px;
}

#projects {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 20px;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item p {
    color: rgb(225, 223, 223);
    transition: color 0.6s ease;
}

.project-item:hover p {
    color: #000; /* Darken text color on hover */
}

#download {
    font-size: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download > p {
    width: 300px;
    text-align: center;
    border-radius: 20px;
}

#download > a > button {
    border: none;
    cursor: pointer;
}

#contact {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b0a695;
    line-height: 1.6;
}

#contact .info a {
    padding: 10px;
    color: black;
}

#contact .links a {
    padding: 0 10px;
}
